<?xml version="1.0" encoding="utf-8" ?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="Traitement_FTP_Fournisseur.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v2.0.50727"/></startup><userSettings>
        <Traitement_FTP_Fournisseur.Properties.Settings>
            <setting name="mailSurveillance" serializeAs="String">
                <value>doryandillen@hotmail.com</value>
            </setting>
            <setting name="mailHost" serializeAs="String">
                <value>mail-v1</value>
            </setting>
            <setting name="ftpSauve" serializeAs="String">
                <value>In/SV</value>
            </setting>
            <setting name="ftpError" serializeAs="String">
                <value>In/ERROR</value>
            </setting>
            <setting name="Database" serializeAs="String">
                <value>AS400_ERFILELIB</value>
            </setting>
            <setting name="ftpHost" serializeAs="String">
                <value>PO011632</value>
            </setting>
            <setting name="Table" serializeAs="String">
                <value>WASMVS</value>
            </setting>
            <setting name="StoredProcedure" serializeAs="String">
                <value>PASB080</value>
            </setting>
            <setting name="mailEnvoi" serializeAs="String">
                <value>doryan.dillenseger@groupe.schmidt</value>
            </setting>
            <setting name="tempDir" serializeAs="String">
                <value>C:\tmp</value>
            </setting>
            <setting name="ftpTravail" serializeAs="String">
                <value>In</value>
            </setting>
            <setting name="ftpPassword" serializeAs="String">
                <value>password</value>
            </setting>
            <setting name="ftpUser" serializeAs="String">
                <value>E4FTP</value>
            </setting>
            <setting name="SQLexpress" serializeAs="String">
                <value>Data source=localhost\Sqlexpress;Initial catalog=AS400_ERFILELIB;Integrated Security=True;</value>
            </setting>
            <setting name="supplierName" serializeAs="String">
                <value>E4</value>
            </setting>
            <setting name="temporisation" serializeAs="String">
                <value>10</value>
            </setting>
        </Traitement_FTP_Fournisseur.Properties.Settings>
    </userSettings>
  <!--
    <runtime>
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
        <dependentAssembly>
          <assemblyIdentity name="IBM.Data.DB2.iSeries"
                            publicKeyToken="9cdb2ebfb1f93a26"
                            culture="neutral" />
          <bindingRedirect oldVersion="12.0.0.0"
                           newVersion="10.0.0.0"/>
        </dependentAssembly>
      </assemblyBinding>
    </runtime>
    !-->
</configuration>
