<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <log4net>
    <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
      <file value="Log/Traitement_FTP.log"/>
      <threshold value="INFO"/>
      <appendToFile value="true"/>
      <rollingStyle value="Date"/>
      <datePattern value="yyyyMMdd"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="*%-10level %-30date %-25logger %message %newline"/>
      </layout>
    </appender>
    <root>
      <level value="ALL"/>
    </root>
    <logger name="MonitoringLogger">
      <level value="ALL"/>
      <appender-ref ref="RollingFile"/>
    </logger>
    <logger name="ExceptionLogger">
      <level value="ERROR"/>
      <appender-ref ref="RollingFile"/>
    </logger>
  </log4net>
</configuration>
